.second-header{
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    flex-shrink: 0px;
    left: 264px;
    right: 0px;
    top: 56px;
    height: 55px;
    width: 1633px;
    z-index: 99;
    background-color: white;
}

.buttons{
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background-color: black;
    color: white;
}

.button{
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(233, 233, 233);
}